body{
    background-color: aqua;
}
.navbar{
display: flex;
background-color: aliceblue;
justify-content: flex-end;
gap: 20px;
list-style: none;
text-decoration: none;
}
a{
    text-decoration: none;
    font-size: larger;
}